<div class="secao renewable wow fadeIn">
	<h1 class="ajuste3 wow fadeInUp">Renewable Energy</h1>
</div>

<div class="secao"  id="energia">
	<div class="container-fluid limitador">
		<h1 class="wow fadeInDown" data-wow-offset="200"><span class="linha">Combinações das energias renováveis que foram analisadas</span></h1>

		<div class="row">
			<div class="col-sm coluna text-center container wow fadeInDown" data-wow-offset="200">
				<img src="/public/img/hidro.png" width="90" height="90"/>
				<div class="overlay">
					<b>Hídrica</b>
					<p>Obtida pelo aproveitamento do potencial gravitacional da água corrente e de quedas d`água.</p>
				</div>
				<p>Hídrica</p>			
			</div>
			<div class="col-sm coluna text-center container wow fadeInDown" data-wow-offset="200">
				<img src="/public/img/eolica.png" width="90" height="90"/>
				<div class="overlay">
					<b>Eólica</b>
					<p>É a energia proveniente da força dos ventos. Sua geração começa com dois elementos principais: vento e aerogerador.</p>
				</div>			
				<p>Eólica</p>
			</div>
			<div class="col-sm coluna text-center container wow fadeInDown" data-wow-offset="200">
				<img src="/public/img/solar.png" width="90" height="90"/>
				<div class="overlay">
					<b>Solar</b>
					<p>Proveniente da luz e do calor emitidos pelo sol. Fonte de energia limpa, e uma das fontes mais promissoras para obtenção energética.</p>
				</div>
				<p>Solar</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm coluna text-center container wow fadeInUp" data-wow-offset="200">
				<img src="/public/img/geo.png" width="90" height="90"/>
				<div class="overlay">
					<b>Geotérmica</b>
					<p>Se caracteriza pelo calor proveniente da Terra, é a energia calorífera gerada a menos de 64 quilômetros da superfície terrestre.</p>
				</div>	
				<p>Geotérmica</p>		
			</div>
			<div class="col-sm coluna text-center container wow fadeInUp" data-wow-offset="200">
				<img src="/public/img/bio.png" width="90" height="90"/>
				<div class="overlay">
					<b>Biocombustível</b>
					<p>Fonte renovável de energia que é utilizada por meio da queima da biomassa ou de seus derivados, tais como o etanol, o biodiesel e outros.</p>
				</div>
				<p>Biocombustível</p>
			</div>
			<div class="col-sm coluna text-center container wow fadeInUp" data-wow-offset="200">
				<img src="/public/img/ondas-do-mar.png" width="90" height="90"/>
				<div class="overlay">
					<b>Ondas e Marés</b>
					<p>Fonte inesgotável de energia que provém do movimento da onda em direção à costa.</p>
				</div>
				<p>Ondas e Marés</p>
			</div>
		</div>
	</div>
</div>

	
<div class="secao wow fadeInUp exp" id="sobre" data-wow-offset="200">
	<div class="container-fluid limitador">
		<h2 class= "text-left wow fadeInDown sobre-tx" data-wow-offset="200">Sobre o projeto</h2>

		<div class="row ">
			<div class="col-md-6 text-center wow fadeInLeft" data-wow-offset="200">
				<p class="texto">O intuito deste projeto é informar sobre a prevalência do uso de energia renovável em cada país ao longo de quase sete décadas. A análise desse grafico permite traçar paralelos entre a Sustentabilidade e a Geopolítica dos últimos tempos. Esses dados foram coletados do site <a class="ajuste2" href="https://ourworldindata.org/renewable-energy"> <i class="sobre-tx">ourwourldindata</i></a> utilizando a técnica de Data Scraping por meio da biblioteca Selenium para a linguagem Python. </p>
			</div>
			<div class="col-md-6 wow fadeInRight" data-wow-offset="200"> 
				
				<lottie-player src="/public/img/lf30_editor_x8dsck16.json"  background="transparent"  speed="1"  style="width: 100%; height: 300px;"  loop  autoplay></lottie-player>
				<!-- <img class="sobre" src="/public/img/renewable.jpg" width="520px" /> -->
			</div>
		</div>
	</div>
</div>

<div class="secao" id="grafico">
	<div class="container-fluid limitador wow fadeInDown" data-wow-offset="200">

		<h2 class= "text-left">Gráfico</h2>
	</div>
</div>

<div class="secao wow fadeInUp exp"  id="quem" data-wow-offset="200">
	<div class="container-fluid limitador">
	 	<h2 class= "text-left wow fadeInDown sobre-tx" data-wow-offset="200">Quem Somos</h2>

		<div class="row">
		
			<div class="col-sm-3 coluna wow fadeInLeft" data-wow-offset="200">
				<img src="/public/img/arana.jpeg" width="200" height="200"/>
				<p class="ajuste sobre-tx">André Arana</p>
				<p class="ajuste5 sobre-tx">Back-end (Web)</p>
				<a href="https://www.linkedin.com/in/andr%C3%A9-arana-dezid%C3%A9rio-a57aab1a5/"><i class="fa fa-linkedin link"></i></a>
				<a href="https://github.com/Aranaaa"><i class="fa fa-github git"></i></a>			
			</div>
			<div class="col-sm-3 coluna wow fadeInLeft " data-wow-offset="200">
				<img src="/public/img/barolo.jpeg" width="200" height="200"/>
				<p class="ajuste sobre-tx">Antonio Barolo</p>
				<p class="ajuste5 sobre-tx">Back-end (Python)</p>
				<a href="https://www.linkedin.com/in/antonio-barolo-gargiulo-195ab01a5/"><i class="fa fa-linkedin link"></i></a>
				<a href="https://github.com/antoniobarolo"><i class="fa fa-github git"></i></a>			
			</div>
			<div class="col-sm-3 coluna wow fadeInRight" data-wow-offset="200">
				<img src="/public/img/tarsila.jpeg" width="200" height="200"/>
				<p class="ajuste sobre-tx">Tarsila Mazzutti</p>
				<p class="ajuste1 sobre-tx">Front-end</p>
				<a href="https://www.linkedin.com/in/tarsilamazzutti/"><i class="fa fa-linkedin link"></i></a>
				<a href="https://github.com/Tarsila-MS"><i class="fa fa-github git"></i></a>
				
			</div>
			<div class="col-sm-3 coluna wow fadeInRight" data-wow-offset="200">
				<img src="/public/img/victor.jpeg" width="200" height="200"/>
				<p class="ajuste sobre-tx">Victor Gaspar</p>
				<p class=" ajuste4 sobre-tx">Back-end (Web & Python)</p>
				<a href="https://www.linkedin.com/in/victor-gaspar-a2994619b/"><i class="fa fa-linkedin link"></i></a>
				<a href="https://github.com/VictorLG21"><i class="fa fa-github git"></i></a>
				
			</div>
	
		</div>
	</div>
</div>

