<div class="container-fluid limitador">
	<h1><span class="linha">Combinações das energias renováveis que foram analisadas</span></h1>

	<div class="row">
		<div class="col-sm coluna text-center container">
			<img src="/public/img/hidrico.jpeg"/>
			<div class="overlay">
				<b>Hídrica</b>
				<p>Obtida pelo aproveitamento do potencial gravitacional da água corrente e de quedas d`água.</p>
			</div>
			<p>Hídrica</p>			
		</div>
		<div class="col-sm coluna text-center container">
			<img src="/public/img/eolica.jpeg" width="70px"/>
			<div class="overlay">
				<b>Eólica</b>
				<p>É a energia proveniente da força dos ventos. Sua geração começa com dois elementos principais: vento e aerogerador.</p>
			</div>			
			<p>Eólica</p>
		</div>
		<div class="col-sm coluna text-center container">
			<img src="/public/img/solar.jpeg"/>
			<div class="overlay">
				<b>Solar</b>
				<p>Proveniente da luz e do calor emitidos pelo sol. Fonte de energia limpa, e uma das fontes mais promissoras para obtenção energética.</p>
			</div>
			<p>Solar</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm coluna text-center container">
			<img src="/public/img/geo.jpeg"/>
			<div class="overlay">
				<b>Geotérmica</b>
				<p>Se caracteriza pelo calor proveniente da Terra, é a energia calorífera gerada a menos de 64 quilômetros da superfície terrestre.</p>
			</div>	
			<p>Geotérmica</p>		
		</div>
		<div class="col-sm coluna text-center container">
			<img src="/public/img/bio.jpeg"/>
			<div class="overlay">
				<b>Biocombustível</b>
				<p>Fonte renovável de energia que é utilizada por meio da queima da biomassa ou de seus derivados, tais como o etanol, o biodiesel e outros.</p>
			</div>
			<p>Biocombustível</p>
		</div>
		<div class="col-sm coluna text-center container">
			<img src="/public/img/ondas.jpeg"/>
			<div class="overlay">
				<b>Ondas e Marés</b>
				<p>Fonte inesgotável de energia que provém do movimento da onda em direção à costa.</p>
			</div>
			<p>Ondas e Marés</p>
		</div>
	</div>

	<hr /> 

	<h2 class= "text-left" id="sobre">Sobre o projeto</h2>

	<div class="row ">
		<div class="col-sm-6 text-center"> ... </div>
		<div class="col-sm-6"> 
			<img class="sobre" src="/public/img/renewable.jpg" width="520px" />
		</div>
	</div>

	<hr />

	<h2 class= "text-left" id="grafico">Gráfico</h2>

	<hr />

	<h2 class= "text-left" id="quem">Quem Somos</h2>

	<div class="row">
		
		<div class="col-sm-3 coluna ">André Arana</div>
		<div class="col-sm-3 coluna ">Antonio Barolo</div>
		<div class="col-sm-3 coluna ">Tarsila Mazzutti</div>
		<div class="col-sm-3 coluna ">Victor Gaspar</div>
	
	</div>	
</div>

