<div class="secao renewable wow fadeIn">
	<h1 class="ajuste3 wow fadeInUp">Renewable Energy</h1>
</div>

<div class="secao"  id="energia">
	<div class="container-fluid limitador">
		<h1 class="wow fadeInDown"><span class="linha">Combinações das energias renováveis que foram analisadas</span></h1>

		<div class="row">
			<div class="col-sm coluna text-center container wow fadeInDown">
				<img src="/public/img/hidrico.jpeg"/>
				<div class="overlay">
					<b>Hídrica</b>
					<p>Obtida pelo aproveitamento do potencial gravitacional da água corrente e de quedas d`água.</p>
				</div>
				<p>Hídrica</p>			
			</div>
			<div class="col-sm coluna text-center container wow fadeInDown">
				<img src="/public/img/eolica.jpeg" width="70px"/>
				<div class="overlay">
					<b>Eólica</b>
					<p>É a energia proveniente da força dos ventos. Sua geração começa com dois elementos principais: vento e aerogerador.</p>
				</div>			
				<p>Eólica</p>
			</div>
			<div class="col-sm coluna text-center container wow fadeInDown">
				<img src="/public/img/solar.jpeg"/>
				<div class="overlay">
					<b>Solar</b>
					<p>Proveniente da luz e do calor emitidos pelo sol. Fonte de energia limpa, e uma das fontes mais promissoras para obtenção energética.</p>
				</div>
				<p>Solar</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm coluna text-center container wow fadeInUp">
				<img src="/public/img/geo.jpeg"/>
				<div class="overlay">
					<b>Geotérmica</b>
					<p>Se caracteriza pelo calor proveniente da Terra, é a energia calorífera gerada a menos de 64 quilômetros da superfície terrestre.</p>
				</div>	
				<p>Geotérmica</p>		
			</div>
			<div class="col-sm coluna text-center container wow fadeInUp">
				<img src="/public/img/bio.jpeg"/>
				<div class="overlay">
					<b>Biocombustível</b>
					<p>Fonte renovável de energia que é utilizada por meio da queima da biomassa ou de seus derivados, tais como o etanol, o biodiesel e outros.</p>
				</div>
				<p>Biocombustível</p>
			</div>
			<div class="col-sm coluna text-center container wow fadeInUp">
				<img src="/public/img/ondas.jpeg"/>
				<div class="overlay">
					<b>Ondas e Marés</b>
					<p>Fonte inesgotável de energia que provém do movimento da onda em direção à costa.</p>
				</div>
				<p>Ondas e Marés</p>
			</div>
		</div>
	</div>
</div>

	
<div class="secao wow fadeInUp exp" id="sobre">
	<div class="container-fluid limitador">
		<h2 class= "text-left wow fadeInDown">Sobre o projeto</h2>

		<div class="row ">
			<div class="col-sm-6 text-center wow fadeInLeft">
				<p class="texto">O intuito deste projeto é informar sobre a prevalência do uso de energia renovável em cada país ao longo de quase sete décadas. A análise dessa (tabela/grafico/depende oq a gnt for fazer) permite traçar paralelos entre a Sustentabilidade e a Geopolítica dos últimos tempos. Esses dados foram coletados do site <a class="ajuste2" href="https://ourworldindata.org/renewable-energy"> <i class="ajuste2">ourwourldindata</i></a> utilizando a técnica de Data Scraping por meio da biblioteca Selenium para a linguagem Python. </p>
			</div>
			<div class="col-sm-6 wow fadeInRight"> 
				<img class="sobre" src="/public/img/renewable.jpg" width="520px" />
			</div>
		</div>
	</div>
</div>

<div class="secao" id="grafico">
	<div class="container-fluid limitador wow fadeInDown">

		<h2 class= "text-left">Gráfico</h2>
	</div>
</div>

<div class="secao wow fadeInUp exp"  id="quem">
	<div class="container-fluid limitador">
	 	<h2 class= "text-left wow fadeInDown">Quem Somos</h2>

		<div class="row">
		
			<div class="col-sm-3 coluna wow fadeInLeft">
				<img src="/public/img/arana.jpeg" width="200" height="200"/>
				<p class="ajuste">André Arana</p>
				<p class="ajuste1">Back-end</p>
				<a href="https://www.linkedin.com/in/andr%C3%A9-arana-dezid%C3%A9rio-a57aab1a5/"><i class="fa fa-linkedin link"></i></a>
				<a href="https://github.com/Aranaaa"><i class="fa fa-github git"></i></a>			
			</div>
			<div class="col-sm-3 coluna wow fadeInLeft ">
				<img src="/public/img/barolo.jpeg" width="200" height="200"/>
				<p class="ajuste">Antonio Barolo</p>
				<p class="ajuste1">Back-end</p>
				<a href="https://www.linkedin.com/in/antonio-barolo-gargiulo-195ab01a5/"><i class="fa fa-linkedin link"></i></a>
				<a href="https://github.com/antoniobarolo"><i class="fa fa-github git"></i></a>			
			</div>
			<div class="col-sm-3 coluna wow fadeInRight">
				<img src="/public/img/tarsila.jpeg" width="200" height="200"/>
				<p class="ajuste">Tarsila Mazzutti</p>
				<p class="ajuste1">Front-end</p>
				<a href="https://www.linkedin.com/in/tarsilamazzutti/"><i class="fa fa-linkedin link"></i></a>
				<a href="https://github.com/Tarsila-MS"><i class="fa fa-github git"></i></a>
				
			</div>
			<div class="col-sm-3 coluna wow fadeInRight">
				<img src="/public/img/victor.jpeg" width="200" height="200"/>
				<p class="ajuste">Victor Gaspar</p>
				<p class="ajuste1">Back-end</p>
				<a href="https://www.linkedin.com/in/victor-gaspar-a2994619b/"><i class="fa fa-linkedin link"></i></a>
				<a href="https://github.com/VictorLG21"><i class="fa fa-github git"></i></a>
				
			</div>
	
		</div>
	</div>
</div>

