body {
    font-family: 'Open Sans', sans-serif;
    color: #14771d;
    background-color: #FFFDFB;
    
}

.header {
    overflow: hidden;
    background-color: #5d9624d2;
    padding: 40px 40px;
    position: sticky;
    top: 0;
    z-index: 5;
  }

a{
    color: #ffffff;
    padding-left: 10%;
    font-size: 20px;

}

.header a.logo {
    font-size: 25px;
   
}

.header a:hover {
    color:#FFFFFF;

}

.header a.borda{
    padding-left:35%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #5D9624;
}

p{
    padding-top: 7px;
}

.exp{
    background-color: #5d962496;
}

p.exp{
    color: #FFFFFF;
    font-size: 20px;
    padding: 5%;
}
.ajuste{
    padding-left: 20%;
    padding-bottom: 0%;
    
}

.ajuste1{
    padding-left: 25%;
    padding-top: 0%;
    
}

.ajuste2{
    color: #ffffff;
    font-size: 20px;
    padding-left: 0%;
}

hr {
    border-top: 1px solid rgba(0,0,0,.2);
    margin: 70px 7.5%;
}

.link{
    padding-left: 15%;
    color: #5D9624;
}

.git{
    color: #5D9624;
}

.limitador {
    max-width: 1100px;
    margin: 0px auto;
}

.linha {
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.coluna {
    padding-top: 15px;
    padding-bottom: 15px;
}

.sobre{
    border: 2px;
    border-radius: 80px;
   
}

.container {
    position: relative;
    
  }
  

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color:#5d9624ec;
    color:#FFFFFF
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
