body {
    font-family: 'Open Sans', sans-serif;
    color: #14771d;
    background-color: #FFFDFB;
    
}

.header {
    overflow: hidden;
    background-color: #5d9624d2;
    padding: 40px 40px;
    position: sticky;
    top: 0;
    z-index: 5;
  }

a{
    color: #ffffff;
    padding-left: 10%;
    font-size: 20px;

}

.header a.logo {
    font-size: 25px;
   
}

.header a:hover {
    color:#FFFFFF;

}

.header a.borda{
    padding-left:30%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #5D9624;
}

p{
    padding-top: 7px;
}

.exp{
    background-color: #ff8d0047;
}

.texto{
    color: #FFFFFF;
    font-size: 20px;
    padding: 5%;
}
.ajuste{
    padding-left: 20%;
    padding-bottom: 0%;
    
}

.ajuste1{
    padding-left: 25%;
    padding-top: 0%;
    
}

.ajuste2{
    color: #5D9624;
    font-size: 20px;
    padding-left: 0%;
}

.ajuste3{
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 70px;
    text-align: center;
    padding-top: 25vh;
    padding-bottom: 25vh;
    color: #ffffff;
    text-shadow: 2px 2px 8px black;
}

.link{
    padding-left: 15%;
    color: #e3a252de;
}

.git{
    color: #e3a252de;
}

.limitador {
    max-width: 1100px;
    margin: 0px auto;
}

.linha {
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.coluna {
    padding-top: 15px;
    padding-bottom: 15px;
}

.sobre{
    border: 2px;
    border-radius: 80px;
   
}

.sobre-tx{
    color: #e3a252de;
}
.container {
    position: relative;
    
  }
  

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color:#5d9624ec;
    color:#FFFFFF;
    padding: 4px 8px;
}
  
.container:hover .overlay {
    opacity: 1;
}

.secao {
    overflow: hidden;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.renewable{
    /* https://pixabay.com/pt/photos/nascer-do-sol-parque-e%c3%b3lico-3579931/ */
    background-image: url("/public/img/sunrise-g0ae4975a8_1920.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}