<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<!-- Bootstrap 4 -->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/public/css/style.css" />

	<!--Animate.css	https://daneden.github.io/animate.css/	-->
	<link rel="stylesheet" type="text/css" href="/public/css/animate.css" />

	<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

	<title><%=((typeof titulo === "undefined" || !titulo) ? "Renewable Energy" : (titulo + " - Renewable Energy")) %></title>
</head>
<body>
<div id="topo"></div>

	<div class="header">
		<a href="#topo" class="logo">Renewable Energy</a>
		<div class="row">
			<a class="borda" href="#energia">Energias</a>
			<a href="#sobre">Sobre</a>
			<a href="#grafico">Gráfico</a>
			<a href="#quem">Quem somos</a>
			<a href="https://ourworldindata.org/renewable-energy">Dados</a>	
			
		</div>					
	</div>


	<%- body %>


	<div class="header">
		<a href="#topo" class="logo">Renewable Energy</a>
	</div>

	<script type="text/javascript" src="/public/js/wow.min.js"></script>
	<script type="text/javascript">
		document.querySelectorAll('a[href^="#"]').forEach(anchor => {
			anchor.addEventListener('click', function (e) {
				e.preventDefault();

				document.querySelector(this.getAttribute('href')).scrollIntoView({
					behavior: 'smooth'
				});
			});
		});

		new WOW().init();
	</script>
	
</body>
</html>

